.main {
    margin-left: 390px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.message {
    position: absolute;
    top: 135px;
    left: 395px;
    width: calc(100vw - 432px);
    &__svg {
        display: block;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    &__text {
        display: block;
        font-family: 'Onest', sans-serif;
        color: #e2a82b;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

.search {
    display: flex;
    width: calc(100vw - 432px);
    position: absolute;
    top: 77px;
    left: 395px;
    min-width: 725px;

    &__glass {
        position: absolute;
        top: 11px;
        left: 20px;
    }

    &__input {
        flex-grow: 1;
        margin-right: 10px;
        height: 42px;
        outline: none;
        border: 1px solid #e2a82b;
        background-color: #565656;
        padding: 0 20px 0 60px;
        font-family: 'Onest', sans-serif;
        border-radius: 9px;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 400;
        &::placeholder {
            color: #ffffff;
            font-weight: 400;
        }
    }

    &__button {
        min-width: 100px;
        height: 42px;
        width: 150px;
        background-color: #e2a82b;
        border: 1px solid #565656;
        border-radius: 9px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all linear 50ms;

        &:hover {
            filter: brightness(80%);
        }

        &__text {
            color: #FFFFFF;
            font-family: 'Onest', sans-serif;
            font-size: 18px;
            font-weight: 450;
            line-height: 42px;
        }
    }
    &__total {
        position: absolute;
        top: 60px;
        color: #a6a8ab;
        font-family: 'Onest', sans-serif;
        font-size: 16px;
        font-weight: 450;
    }
}

.vacancies {
    position: absolute;
    display: block;
    min-width: 725px;
    width: calc(100vw - 432px);
    top: 156px;
    left: 395px;
}
